@use "variable" as *;

.fv {
  width: 100%;
  height: 100svh;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: clamp(24px, calc(21.254px + 0.732vw), 40px);
    padding-bottom: clamp(24px, calc(21.254px + 0.732vw), 40px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 36%;
    gap: 8px;

    @include respond-to("lg") {
      height: 24%;
      max-height: 300px;
    }
  }

  &__title {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4rem, 2.5915rem + 6.0094vw, 8rem);
    line-height: 1;
  }

  &__vision {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
  }

  &__link {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: $text;
    color: $bg;
    padding: 12px 16px 12px 24px;
    position: relative;

    @include respond-to("lg") {
      padding: 16px 24px 16px 32px;
      &:hover {
        .fv__link-label {
          &--default {
            transform: translateY(-100%);
          }
          &--clone {
            transform: translateY(0%);
          }
        }
        .fv__link-arrow {
          &--default {
            transform: translateX(16px) translateY(-16px);
          }
          &--clone {
            transform: translateX(0px) translateY(0px);
          }
        }
      }
    }

    .text-wrapper {
      &:first-child {
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: $bg;
        }
      }
      &:last-child {
        display: flex;
      }
    }

    .divider {
      width: 1px;
      background-color: $bg;
      align-self: stretch;
      flex-shrink: 0;
    }

    &-label {
      display: inline-block;
      transition: transform 0.3s ease-out;
      &--default {
        transform: translateY(0%);
      }
      &--clone {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
      }
    }

    &-arrow {
      display: inline-block;
      transition: transform 0.3s ease-out;
      &--clone {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-16px) translateY(16px);
      }
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__lists {
    border: 1px solid rgba($text, 0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
    @include respond-to("lg") {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      padding: 12px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond-to("lg") {
        padding: 16px;
      }

      p {
        &:last-child {
          text-align: right;
        }
      }

      &:nth-child(1) {
        border-bottom: 1px solid rgba($text, 0.5);

        @include respond-to("lg") {
          border-bottom: none;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          border-right: 1px solid rgba($text, 0.5);
          height: 90%;
        }
      }

      &:nth-child(2) {
        border-bottom: 1px solid rgba($text, 0.5);

        @include respond-to("lg") {
          border-bottom: none;
        }
      }

      &:nth-child(3) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          border-right: 1px solid rgba($text, 0.5);
          height: 90%;
        }
      }

      @include respond-to("lg") {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          border-right: 1px solid rgba($text, 0.5);
          height: 90%;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.p-top-about {
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    @include respond-to("lg") {
      padding-top: 192px;
      padding-bottom: 192px;
    }
  }
  &__title {
    font-size: clamp(4rem, 1.8873rem + 9.0141vw, 10rem);
    margin-bottom: 24px;

    @include respond-to("lg") {
      margin-bottom: 40px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &__lead {
    padding: 24px 0;
    border-top: 1px solid rgba($text, 0.5);
    border-bottom: 1px solid rgba($text, 0.5);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include respond-to("lg") {
      padding: 40px 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      overflow: hidden;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include respond-to("lg") {
      gap: 16px;
      grid-column: 1 / 5;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-right: 1px solid rgba($text, 0.5);
        height: 120%;
      }
    }

    p {
      &:last-child {
        max-width: 400px;
      }
    }
  }

  &__floating {
    @include respond-to("lg") {
      grid-column: 5 / 13;
    }
    &-wrapper {
      display: flex;
      flex-direction: row;
      gap: 16px;
      @include respond-to("lg") {
        padding-left: 40px;
        flex-direction: row;
      }
    }

    &-item {
      @include respond-to("lg") {
        aspect-ratio: 271 / 200;
        flex: 1;
      }
      &:nth-child(1) {
        position: relative;
        z-index: 3;
      }

      &:nth-child(2) {
        position: relative;
        z-index: 2;
      }

      &:nth-child(3) {
        position: relative;
        z-index: 1;
      }
    }

    &-inner {
      border: 1px dashed rgba($text, 0.5);
      position: relative;
      height: 100%;

      p {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }
  }

  &__info {
    display: none;
    @include respond-to("lg") {
      display: block;
      display: flex;
      height: 430px;
      margin-bottom: 80px;
    }

    &-item {
      position: relative;
      @include respond-to("lg") {
        width: 50%;
      }

      p {
        &:nth-child(1) {
          position: absolute;
          top: 32px;
          left: 24px;
        }

        &:nth-child(2) {
          position: absolute;
          top: 32px;
          right: 24px;
        }

        &:nth-child(3) {
          position: absolute;
          bottom: 32px;
          left: 24px;
        }

        &:nth-child(4) {
          position: absolute;
          bottom: 32px;
          right: 24px;
          font-size: 64px;
        }
      }

      &:first-child {
        background-color: $text;
        color: $bg;
      }
      &:last-child {
        @include respond-to("lg") {
          border-top: 1px solid rgba($text, 0.5);
          border-right: 1px solid rgba($text, 0.5);
          border-bottom: 1px solid rgba($text, 0.5);
        }
      }
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include respond-to("lg") {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    &-item {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px dashed rgba($text, 0.5);
      aspect-ratio: 1 / 0.6;

      @include respond-to("lg") {
        width: calc(33% - 16px);
        padding: 24px;
        aspect-ratio: 1 / 0.95;
      }

      p {
        &:nth-child(2) {
          text-align: right;
          font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
        }
      }
    }
  }
}

.p-top-projects {
  &__wrapper {
    padding-bottom: 80px;
    @include respond-to("lg") {
      padding-bottom: 192px;
    }
  }

  &__lead {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;

    @include respond-to("lg") {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;

    @include respond-to("lg") {
      gap: 16px;
    }
  }

  &__title {
    text-align: right;
    font-size: clamp(4rem, 1.8873rem + 9.0141vw, 10rem);
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 64px;
    @include respond-to("lg") {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, auto);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include respond-to("lg") {
      gap: 12px;
    }
    &:nth-child(1) {
      grid-column: 1 / 12;
      @include respond-to("lg") {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
      }
    }

    &:nth-child(2) {
      grid-column: 6 / 13;
      grid-row: 2 / 3;
      @include respond-to("lg") {
        margin-top: 240px;
        grid-column: 9 / 13;
        grid-row: 1 / 2;
      }
    }

    &:nth-child(3) {
      grid-column: 1 / 10;
      grid-row: 3 / 4;
      @include respond-to("lg") {
        grid-column: 8 / 12;
        grid-row: 2 / 3;
      }
    }

    &:nth-child(4) {
      grid-column: 6 / 13;
      grid-row: 4 / 5;
      @include respond-to("lg") {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        align-self: end;
      }
    }

    &:nth-child(5) {
      grid-column: 2 / 12;
      grid-row: 5 / 6;
      @include respond-to("lg") {
        margin-top: 240px;
        grid-column: 7 / 13;
        grid-row: 3 / 4;
      }
    }

    &-img {
      overflow: hidden;
      .js-pixel-canvas {
        width: 100%;
        height: 100%;
        display: block;
      }
      img {
        display: none;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.p-top-members {
  padding-bottom: 80px;
  @include respond-to("lg") {
    padding-bottom: 0px;
  }
  &__pixel-transition {
    display: grid;
    gap: 0;
    overflow: hidden;
    height: 24.1vw;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(6, 1fr);

    @include respond-to("lg") {
      height: 24.1vw;
      grid-template-columns: repeat(25, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }

  &__pixel-cell {
    background-color: $bg;
    margin: 0 -1px -1px 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-clip: border-box;
  }

  &__wrapper {
    background-color: $dark;
    color: $bg;
    position: relative;
    height: 500vh;
    @include respond-to("lg") {
      height: 400vh;
    }
  }

  &__intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 600px;
    position: absolute;

    &--top {
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--bottom {
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    width: 100%;
    font-size: clamp(5rem, 1.6626rem + 14.2395vw, 18.75rem);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .text-wrapper {
      span {
        display: inline-block;
      }
    }
  }

  &__sticky {
    width: 100%;
    height: 100vh;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    @include respond-to("lg") {
      width: 100%;
      height: 100vh;
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 120px;
    position: relative;
    z-index: 2;
    @include respond-to("lg") {
      row-gap: 300px;
    }

    &-item {
      background-color: $text;
      aspect-ratio: 1 / 1.25;
      padding: 32px 24px;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;

      &:nth-child(1) {
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        @include respond-to("lg") {
          grid-column: 1 / 4;
          grid-row: 1 / 2;
          transform: translateX(40px);
        }
      }

      &:nth-child(2) {
        grid-column: 4 / 13;
        grid-row: 2 / 3;
        @include respond-to("lg") {
          grid-column: 9 / 12;
          grid-row: 1 / 2;
          transform: translateY(300px);
        }
      }

      &:nth-child(3) {
        grid-column: 1 / 10;
        grid-row: 3 / 4;
        @include respond-to("lg") {
          grid-column: 3 / 6;
          grid-row: 2 / 3;
        }
      }

      &:nth-child(4) {
        grid-column: 4 / 13;
        grid-row: 4 / 5;
        @include respond-to("lg") {
          grid-column: 8 / 11;
          grid-row: 2 / 3;
          transform: translateY(300px);
        }
      }

      &:nth-child(5) {
        grid-column: 1 / 10;
        grid-row: 5 / 6;
        @include respond-to("lg") {
          grid-column: 2 / 5;
          grid-row: 3 / 4;
        }
      }

      &:nth-child(6) {
        grid-column: 4 / 13;
        grid-row: 6 / 7;
        @include respond-to("lg") {
          grid-column: 7 / 10;
          grid-row: 3 / 4;
          transform: translateY(300px);
        }
      }
    }

    &-info {
      p {
        &:nth-child(1) {
          margin-bottom: 4px;
        }

        &:nth-child(2) {
          font-size: 20px;
          margin-bottom: 16px;
        }
      }
    }

    &-number {
      margin-top: auto;
      text-align: right;
    }
  }
}
